<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <% include ../../partialAdmin/head %>
    <!-- Custom styles for this template -->
  </head>
  <body>
    <% include ../../partialAdmin/theme-switcher %>
    
    <% include ../../partialAdmin/header %>

<div class="container-fluid">
  <div class="row">
    <% include ../../partialAdmin/sidebar %>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Cinema List</h1>
      </div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Created By</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < cinemas.length;i++){%>
            <tr>
              <td><%= cinemas[i].name %></td>
              <td><%= cinemas[i].address %></td>
              <td><%= cinemas[i].phone %></td>
              <td><%= cinemas[i].createdBy.email %></td>
              <td><a href="/admin/cinemaDetail/<%= cinemas[i]._id%>" class="btn btn-primary">Detail</a></td>
            </tr>
          <%}%>
        </tbody>
      </table>
    </main>
  </div>
</div>
<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
</html>
