<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <% include ../../partialAdmin/head %>
    <!-- Custom styles for this template -->
  </head>
  <body>
    <% include ../../partialAdmin/theme-switcher %>
    
    <% include ../../partialAdmin/header %>

<div class="container-fluid">
  <div class="row">
    <% include ../../partialAdmin/sidebar %>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Booking Management</h1>
      </div>
      <table class="table table-bordered">
        <thead>
          <th>Movie Name</th>
          <th>Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Seat</th>
          <th>Price</th>
          <th>Status</th>
          <th>Action</th>
        </thead>
        <tbody>
          <% for(var i = 0; i < bookings.length; i++){%>
            <tr>
              <td><%= bookings[i].movieId.title %></td>
              <td><%= bookings[i].name %></td>
              <td><%= bookings[i].date %></td>
              <td><%= bookings[i].time %></td>
              <td><%= bookings[i].seat %></td>
              <td><%= bookings[i].price %></td>
              <td><%= bookings[i].status == "0" ? "Pending":"Complete" %></td>
              <td><a href="/admin/booking/<%= bookings[i]._id %>" class="btn btn-primary">Detail</a></td>
            </tr>
          <%}%>
        </tbody>
      </table>
    </main>
  </div>
</div>
<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
</html>
